USE [master]
GO
/****** Object:  Database [NOITHAT]    Script Date: 1/1/2026 5:07:53 PM ******/
CREATE DATABASE [NOITHAT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NOITHAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NOITHAT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NOITHAT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NOITHAT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NOITHAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NOITHAT]
GO
/****** Object:  User [sa1]    Script Date: 1/1/2026 5:07:54 PM ******/
CREATE USER [sa1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [sa]    Script Date: 1/1/2026 5:07:54 PM ******/
CREATE SCHEMA [sa]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID_ChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[ID_DonHang] [int] NULL,
	[ID_SanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[ID_ChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[ID_DanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](150) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[ID_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID_DonHang] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TrangThai] [int] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[ID_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ID_Loai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[AnhLoai] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
	[ID_DanhMuc] [int] NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[ID_Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[ID_Quyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID_SanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](150) NULL,
	[Gia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
	[Anh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[ID_Loai] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDN] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[TrangThai] [bit] NULL,
	[ID_Quyen] [int] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([ID_ChiTietDonHang], [ID_DonHang], [ID_SanPham], [SoLuong], [DonGia]) VALUES (9, 5, 1, 2, CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([ID_ChiTietDonHang], [ID_DonHang], [ID_SanPham], [SoLuong], [DonGia]) VALUES (10, 6, 6, 1, CAST(10000000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([ID_ChiTietDonHang], [ID_DonHang], [ID_SanPham], [SoLuong], [DonGia]) VALUES (11, 7, 40, 1, CAST(9990000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([ID_DanhMuc], [TenDanhMuc], [TrangThai]) VALUES (1, N'Nội thất phòng bếp', NULL)
INSERT [dbo].[DanhMuc] ([ID_DanhMuc], [TenDanhMuc], [TrangThai]) VALUES (2, N'Nội thất phòng ngủ', NULL)
INSERT [dbo].[DanhMuc] ([ID_DanhMuc], [TenDanhMuc], [TrangThai]) VALUES (3, N'Nội thất phòng khách', NULL)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([ID_DonHang], [ID_TaiKhoan], [NgayDat], [TongTien], [TrangThai], [TenNguoiNhan], [DiaChi], [SDT], [Email], [GhiChu]) VALUES (5, 3, CAST(N'2025-12-27T23:20:39.743' AS DateTime), CAST(1000000 AS Decimal(18, 0)), 2, N'khach', N'Ohio', N'0123456789', N'aabbbcc@gmail.com', N'hàng dễ vỡ')
INSERT [dbo].[DonHang] ([ID_DonHang], [ID_TaiKhoan], [NgayDat], [TongTien], [TrangThai], [TenNguoiNhan], [DiaChi], [SDT], [Email], [GhiChu]) VALUES (6, 3, CAST(N'2025-12-28T19:15:06.110' AS DateTime), CAST(10000000 AS Decimal(18, 0)), 1, N'khach', N'HP', N'5165656', N'gdjjabdSJads@hsksk', N'')
INSERT [dbo].[DonHang] ([ID_DonHang], [ID_TaiKhoan], [NgayDat], [TongTien], [TrangThai], [TenNguoiNhan], [DiaChi], [SDT], [Email], [GhiChu]) VALUES (7, NULL, CAST(N'2025-12-30T20:44:53.093' AS DateTime), CAST(13640000 AS Decimal(18, 0)), 0, N'khach', N'Sao Hỏa', N'0333633733', N'aa', N'hello')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([ID_Loai], [TenLoai], [AnhLoai], [TrangThai], [ID_DanhMuc]) VALUES (1, N'Set tủ bếp', N'639025418138822893_tu-bep-go.png', 1, 1)
INSERT [dbo].[LoaiSanPham] ([ID_Loai], [TenLoai], [AnhLoai], [TrangThai], [ID_DanhMuc]) VALUES (2, N'Set bàn ghế', N'639025412985396750_set-ban-ghe.png', 1, 3)
INSERT [dbo].[LoaiSanPham] ([ID_Loai], [TenLoai], [AnhLoai], [TrangThai], [ID_DanhMuc]) VALUES (3, N'Bàn ăn', N'639025418259985096_ban-an-go.png', 1, 1)
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([ID_Quyen], [TenQuyen]) VALUES (1, N'admin')
INSERT [dbo].[PhanQuyen] ([ID_Quyen], [TenQuyen]) VALUES (2, N'nhanvien')
INSERT [dbo].[PhanQuyen] ([ID_Quyen], [TenQuyen]) VALUES (3, N'khach')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [Gia], [SoLuong], [Anh], [MoTa], [TrangThai], [ID_Loai]) VALUES (2, N'Bàn làm việc gỗ', CAST(1500000 AS Decimal(18, 0)), 0, N'ban-lam-viec-go.png', N'Bàn gỗ tự nhiên không chất bảo quản.', 1, 2)
INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [Gia], [SoLuong], [Anh], [MoTa], [TrangThai], [ID_Loai]) VALUES (3, N'Ghế Sofa cao cấp', CAST(5000000 AS Decimal(18, 0)), 5, N'sofa-cao-cap.png', N'Sofa da sang trọng đem lại cái ôm êm ái trong mùa Valentine.', 1, 4)
INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [Gia], [SoLuong], [Anh], [MoTa], [TrangThai], [ID_Loai]) VALUES (4, N'Thảm Bali xanh', CAST(500000 AS Decimal(18, 0)), 10, N'tham-2.png', N'', 1, 8)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [TenDN], [MatKhau], [HoTen], [SDT], [TrangThai], [ID_Quyen]) VALUES (1, N'admin', N'123', N'QTV', N'0909123456', 1, 1)
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [TenDN], [MatKhau], [HoTen], [SDT], [TrangThai], [ID_Quyen]) VALUES (2, N'nhanvien', N'123', N'Nguyễn Văn Ánh', N'0912345678', 1, 2)
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [TenDN], [MatKhau], [HoTen], [SDT], [TrangThai], [ID_Quyen]) VALUES (3, N'khach', N'123', N'Nguyễn Văn Vở', N'0988888887', 1, 3)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
/****** Object:  StoredProcedure [dbo].[DonHang_All]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonHang_All]
AS
BEGIN
    SELECT 
        ID_DonHang,
        NgayDat,
        TongTien,
        TrangThai,
        -- Lấy cột TenNguoiNhan gán vào tên TenKhachHang cho Web hiển thị
        TenNguoiNhan as TenKhachHang 
    FROM DonHang
    ORDER BY ID_DonHang DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctdh_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ctdh_all]
    @ID_DonHang INT
AS
BEGIN
    SELECT 
        ctdh.ID_ChiTietDonHang,
        sp.ID_SanPham,
        sp.TenSanPham,
        sp.Anh,
        ctdh.SoLuong,
        ctdh.DonGia,
        (ctdh.SoLuong * ctdh.DonGia) AS ThanhTien
    FROM ChiTietDonHang ctdh
    INNER JOIN SanPham sp 
        ON ctdh.ID_SanPham = sp.ID_SanPham
    WHERE ctdh.ID_DonHang = @ID_DonHang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctdh_them]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Tạo lại thủ tục THÊM CHI TIẾT
CREATE PROC [dbo].[sp_ctdh_them]
    @ID_DonHang INT,
    @ID_SanPham INT,
    @SoLuong INT,
    @DonGia DECIMAL(18,0)
AS
BEGIN
    INSERT INTO ChiTietDonHang (ID_DonHang, ID_SanPham, SoLuong, DonGia)
    VALUES (@ID_DonHang, @ID_SanPham, @SoLuong, @DonGia);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ctdh_theo_don]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ctdh_theo_don]
    @idDonHang int
AS
BEGIN
    SELECT 
        sp.TenSanPham,
        'anhsanpham/' + sp.Anh as Anh, -- Đường dẫn ảnh chuẩn
        ct.DonGia as Gia, -- Đổi tên thành Gia để khớp với GridView
        ct.SoLuong,
        (ct.SoLuong * ct.DonGia) as ThanhTien
    FROM ChiTietDonHang ct
    JOIN SanPham sp ON ct.ID_SanPham = sp.ID_SanPham
    WHERE ct.ID_DonHang = @idDonHang
END
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_danhmuc_all]
AS
BEGIN
    SELECT * FROM DanhMuc ORDER BY ID_DanhMuc ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dm_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_dm_all]
AS
BEGIN
    SELECT * FROM DanhMuc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dm_id]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_dm_id]
@ID_DanhMuc INT
AS
SELECT * FROM DanhMuc WHERE ID_DanhMuc = @ID_DanhMuc;
GO
/****** Object:  StoredProcedure [dbo].[sp_dm_sua]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_dm_sua]
@ID_DanhMuc int,
@TenDanhMuc nvarchar(150)
AS
BEGIN
    UPDATE DanhMuc
    SET TenDanhMuc=@TenDanhMuc
    WHERE ID_DanhMuc= @ID_DanhMuc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dm_them]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_dm_them]
@TenDanhMuc nvarchar(150)
AS
BEGIN
    INSERT INTO DanhMuc(TenDanhMuc) VALUES (@TenDanhMuc);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dm_xoa]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_dm_xoa]
@ID_DanhMuc int
AS
BEGIN
    DELETE FROM DanhMuc WHERE ID_DanhMuc=@ID_DanhMuc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_donhang_all]
AS
BEGIN
    SELECT 
        ID_DonHang,
        TenNguoiNhan as TenKhachHang, 
        NgayDat,
        TongTien,
        TrangThai
    FROM DonHang
    ORDER BY ID_DonHang DESC -- Đơn mới nhất luôn nằm trên đầu
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_chitiet]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_donhang_chitiet]
    @ID_DonHang int
AS
BEGIN
    SELECT 
        c.ID_DonHang,
        c.ID_SanPham,
        c.SoLuong,
        (c.SoLuong * s.Gia) AS ThanhTien, /* Tự động tính thành tiền */
        s.TenSanPham,
        s.Gia,
        s.Anh
    FROM ChiTietDonHang c
    INNER JOIN SanPham s ON c.ID_SanPham = s.ID_SanPham
    WHERE c.ID_DonHang = @ID_DonHang
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_duyet]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_donhang_duyet]
    @id int,
    @tt int
AS
BEGIN
    UPDATE DonHang SET TrangThai = @tt WHERE ID_DonHang = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_huy]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_donhang_huy]
    @id int,
    @tt int
AS
BEGIN
    UPDATE DonHang SET TrangThai = @tt WHERE ID_DonHang = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_them]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Tạo lại thủ tục THÊM ĐƠN HÀNG (Chuẩn hóa thứ tự tham số)
-- Thứ tự: Tiền -> Tên -> Địa chỉ -> SĐT -> Email -> Ghi chú -> ID TK
CREATE PROC [dbo].[sp_donhang_them]
    @TongTien DECIMAL(18,0),
    @TenNguoiNhan NVARCHAR(100),
    @DiaChi NVARCHAR(MAX),
    @SDT VARCHAR(15),
    @Email VARCHAR(100),
    @GhiChu NVARCHAR(MAX),
    @ID_TaiKhoan INT = NULL
AS
BEGIN
    INSERT INTO DonHang (NgayDat, TongTien, TrangThai, TenNguoiNhan, DiaChi, SDT, Email, GhiChu, ID_TaiKhoan)
    VALUES (GETDATE(), @TongTien, 0, @TenNguoiNhan, @DiaChi, @SDT, @Email, @GhiChu, @ID_TaiKhoan);
    
    -- Trả về ID đơn hàng vừa tạo
    SELECT SCOPE_IDENTITY(); 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_theo_khach]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_donhang_theo_khach]
@ID_TaiKhoan INT
AS
SELECT * FROM DonHang WHERE ID_TaiKhoan=@ID_TaiKhoan;
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_thongtin]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_donhang_thongtin]
    @ID_DonHang int
AS
BEGIN
    SELECT 
        ID_DonHang, 
        NgayDat, 
        TongTien, 
        TenNguoiNhan, 
        SDT,          
        DiaChi,       
        TrangThai,
        GhiChu
    FROM DonHang
    WHERE ID_DonHang = @ID_DonHang
END
GO
/****** Object:  StoredProcedure [dbo].[sp_khach_sua]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_khach_sua]
    @idtaikhoan INT,
    @tendn NVARCHAR(50),
    @matkhau NVARCHAR(50),
    @hoten NVARCHAR(50),
    @sdt NVARCHAR(20)
 
AS
BEGIN
    UPDATE TAIKHOAN
    SET 
        TenDN = @tendn,
        MatKhau = @matkhau,
        HoTen = @hoten,
        SDT = @sdt
       
    WHERE ID_TaiKhoan = @idtaikhoan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loai_all]
AS
BEGIN
    SELECT * FROM LoaiSanPham;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_breadcrumb]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loai_breadcrumb]
    @ID_Loai INT
AS
BEGIN
    SELECT 
        l.ID_Loai,
        l.TenLoai,
        d.TenDanhMuc
    FROM LoaiSanPham l
    INNER JOIN DanhMuc d ON l.ID_DanhMuc = d.ID_DanhMuc
    WHERE l.ID_Loai = @ID_Loai;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_id]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loai_id]
@ID_Loai INT
AS
SELECT * FROM LoaiSanPham WHERE ID_Loai = @ID_Loai;
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_sua]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loai_sua]
@ID_Loai INT,
@TenLoai NVARCHAR(100),
@AnhLoai nvarchar(255),
@ID_DanhMuc int
AS
UPDATE LoaiSanPham
SET TenLoai=@TenLoai, AnhLoai=@AnhLoai, ID_DanhMuc=@ID_DanhMuc
WHERE ID_Loai=@ID_Loai;
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_them]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loai_them]
@TenLoai NVARCHAR(100),
@Anh nvarchar(255),
@ID_DanhMuc INT
AS
INSERT INTO LoaiSanPham (TenLoai, AnhLoai, TrangThai, ID_DanhMuc)
VALUES (@TenLoai, @Anh, 1, @ID_DanhMuc);
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_theo_danhmuc]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_loai_theo_danhmuc]
    @ID_DanhMuc int
AS
BEGIN
    SELECT * FROM LoaiSanPham WHERE ID_DanhMuc = @ID_DanhMuc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_theo_dm]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_loai_theo_dm]
    @iddanhmuc int
AS
BEGIN
    SELECT * FROM LoaiSanPham 
    WHERE ID_DanhMuc = @iddanhmuc
    ORDER BY ID_Loai ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loai_xoa]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loai_xoa]
@ID_Loai INT
AS
DELETE FROM LoaiSanPham WHERE ID_Loai=@ID_Loai;
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_sua]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_nhanvien_sua]
@ID_TaiKhoan int, 
@HoTen nvarchar(50),
@SDT nvarchar(15)
AS
BEGIN
    UPDATE TaiKhoan
    SET HoTen=@HoTen, SDT=@SDT
    WHERE ID_TaiKhoan=@ID_TaiKhoan AND ID_Quyen=2;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phanquyen_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phanquyen_all]
AS
BEGIN
    SELECT * FROM PhanQuyen;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_all]
AS
BEGIN
    SELECT * FROM SanPham 
  
    ORDER BY ID_SanPham ASC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_chitiet]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_sanpham_chitiet]
@ID_SanPham INT
AS
SELECT * FROM SanPham
WHERE ID_SanPham=@ID_SanPham;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_lienquan]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_lienquan]
    @idLoai int,
    @idSanPham int
AS
BEGIN
    SELECT TOP 5 
        ID_SanPham, 
        TenSanPham, 
        Anh, 
        Gia 
    FROM SanPham 
    WHERE ID_Loai = @idLoai AND ID_SanPham <> @idSanPham
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_noibat]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_noibat]
AS
BEGIN
    
    SELECT TOP 4 
        s.ID_SanPham, s.TenSanPham, s.Gia, s.SoLuong, s.Anh, s.MoTa, s.TrangThai, s.ID_Loai
    FROM SanPham s
    LEFT JOIN LoaiSanPham l ON s.ID_Loai = l.ID_Loai
    WHERE s.TrangThai = 1
    ORDER BY s.ID_SanPham DESC 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_sua]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_sua]
    @idsanpham int,
    @idLoai int,
    @tensanpham nvarchar(250),
    @anh nvarchar(max),
    @gia decimal,
    @soluong int,
    @mota nvarchar(max)
AS
BEGIN
    UPDATE SanPham 
    SET 
        ID_Loai = @idLoai, -- Đảm bảo có dòng này
        TenSanPham = @tensanpham,
        Anh = @anh,
        Gia = @gia,
        SoLuong = @soluong,
        MoTa = @mota
    WHERE ID_SanPham = @idsanpham
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_them]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_sanpham_them]
    @ID_Loai INT, @TenSanPham NVARCHAR(150), @Anh NVARCHAR(255), 
    @Gia decimal(18,0), @SoLuong INT, @MoTa NVARCHAR(MAX)
AS
INSERT INTO SanPham (TenSanPham, Gia, SoLuong, Anh, MoTa, TrangThai, ID_Loai)
VALUES (@TenSanPham, @Gia, @SoLuong, @Anh, @MoTa, 1, @ID_Loai);
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_theo_danhmuc]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_theo_danhmuc]
    @ID_DanhMuc int
AS
BEGIN
    
    SELECT s.* FROM SanPham s
    INNER JOIN LoaiSanPham l ON s.ID_Loai = l.ID_Loai
    WHERE l.ID_DanhMuc = @ID_DanhMuc
    ORDER BY s.ID_SanPham DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_theo_loai]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_sanpham_theo_loai]
@ID_Loai INT
AS
SELECT * FROM SanPham
WHERE ID_Loai=@ID_Loai;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_timkiem]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_timkiem]
    @TuKhoa nvarchar(100)
AS
BEGIN
    
    SELECT * FROM SanPham
    WHERE TenSanPham LIKE N'%' + @TuKhoa + '%'
    ORDER BY TenSanPham ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_xoa]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_sanpham_xoa]
@ID_SanPham INT
AS
DELETE FROM SanPham WHERE ID_SanPham=@ID_SanPham;
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoan_dangky]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_taikhoan_dangky]
    @tenDN NVARCHAR(50),
    @matkhau NVARCHAR(50),
    @hoten NVARCHAR(50),
    @sdt NVARCHAR(20)
AS
BEGIN

    INSERT INTO TAIKHOAN(TenDN, MatKhau, HoTen, SDT, TrangThai, ID_Quyen)
    VALUES(@tenDN, @matkhau, @hoten, @sdt, 1, 3) 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoan_doitrangthai]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_taikhoan_doitrangthai]
    @id int,
    @trangthai bit 
AS
BEGIN
    UPDATE TaiKhoan
    SET TrangThai = @trangthai
    WHERE ID_TaiKhoan = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_tongdanhmuc]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_tongdanhmuc] AS SELECT COUNT(*) AS TongDanhMuc FROM DanhMuc;
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_tongdonhang]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_tongdonhang] AS SELECT COUNT(*) AS TongDonHang FROM DonHang;
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_tongsanpham]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_tongsanpham] AS SELECT COUNT(*) AS TongSanPham FROM SanPham;
GO
/****** Object:  StoredProcedure [dbo].[sp_tk_all]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_all]
AS
BEGIN
    SELECT * FROM TaiKhoan;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tk_dangky]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_dangky]
    @TenDN NVARCHAR(50), 
    @MatKhau NVARCHAR(100), 
    @HoTen NVARCHAR(100), 
    @SDT NVARCHAR(15)
AS
BEGIN
    INSERT INTO TaiKhoan(TenDN, MatKhau, HoTen, SDT, ID_Quyen, TrangThai)
    VALUES (LTRIM(RTRIM(@TenDN)), LTRIM(RTRIM(@MatKhau)), LTRIM(RTRIM(@HoTen)), LTRIM(RTRIM(@SDT)), 3, 1);
END


GO
/****** Object:  StoredProcedure [dbo].[sp_tk_don_cho_duyet]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_don_cho_duyet]
AS
SELECT COUNT(*) AS DonChoDuyet
FROM DonHang
WHERE TrangThai = 0;
GO
/****** Object:  StoredProcedure [dbo].[sp_tk_login]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_login] @TenDN NVARCHAR(50), @MatKhau NVARCHAR(100) AS
SELECT * FROM TaiKhoan WHERE TenDN = @TenDN AND MatKhau = @MatKhau AND TrangThai = 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_tk_them_nhanvien]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_them_nhanvien]
@TenDN nvarchar(50),
@MatKhau nvarchar(100),
@HoTen nvarchar(100),
@SDT nvarchar(15)
AS
BEGIN
    INSERT INTO TaiKhoan(TenDN,HoTen,MatKhau,SDT,ID_Quyen)
    VALUES (@TenDN,@HoTen,@MatKhau,@SDT,2);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tk_tong_khachhang]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_tong_khachhang]
AS
SELECT COUNT(*) AS TongKhachHang
FROM TaiKhoan
WHERE ID_Quyen = 3;
GO
/****** Object:  StoredProcedure [dbo].[sp_tk_tong_loaisanpham]    Script Date: 1/1/2026 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tk_tong_loaisanpham]
AS
SELECT COUNT(*) AS TongLoaiSanPham
FROM LoaiSanPham;
GO
USE [master]
GO
